<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Checkout\Block\Cart\AbstractCart">
      <plugin name="GetQuoteData" type="Training\ExamplePlugin\Plugin\Execution" sortOrder="1" disabled="true" />
    </type>
</config>